// Wide Screens
@include mediaXl {
  .menu-btn {
    display: none;
  
  }
}

@include mediaLg {
.menu-btn {
  display: none;

}
}

@include mediaMd {
  ul.menu-nav,
  div.menu-branding{
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding{
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      
      width: 180px;
      height: 96px;
    }
  }

  

  *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    
    
  }
}

@include mediaSm {
.menu {
  .nav-link{
    font-size: 20px;
    text-transform: uppercase;
    padding: .5rem 0;
}
}
}

