// Media Query Mixin

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

// Wide Screens
@include mediaXl {}

@include mediaLg {}

// Tablets

@include mediaMd {

  #riskTable,
  #riskLevel {
    display: none;
  }
}

// Smart Phones

@include mediaSm {
  #risk-profile-questions {
    #sec1 {
      .container {
        img {
          width: 250px;
        }

        h1 {
          font-size: 18px;
        }

        p {
          font-size: 15px;
        }
      }
    }

    #third-p {
      display: none;
    }

    .form-contain {
      padding: 25px 20px;
      margin-top: 50px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      transition: transform 0.1s ease-in-out;
      width: 350px;

      #input-progress {
        border-bottom: 3px solid #d89e04;
        width: 0;
        transition: width 0.6s ease-in-out;
      }

      #progress-bar {
        background: lighten(#d89e04, 30%);
        height: 10px;
        width: 100%;
        transition: width 0.5s ease-in-out;
        margin-bottom: 25px;
      }

      .question {
        h1 {
          font-family: 'Ubuntu', sans-serif;
          font-size: 1.3rem;
          background: #d89e04;
          padding: 10px 10px;
          margin-bottom: 0px;
          color: black;
          width: 100%;
          border-top-right-radius: 25px;

          span {
            color: #333;
            font-size: 1rem;
          }
        }

        h2 {
          font-size: 1rem;
          font-family: 'Raleway';
          margin-bottom: 15px;
          background: black;
          color: white;
          padding: 15px 10px;
          width: 100%;
        }

        .contain {
          position: relative;
          padding-left: 35px;

          cursor: pointer;

          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .checkmark {
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 50%;
            position: absolute;

            &:after {
              content: '';
              position: absolute;
              display: none;
            }
          }

          .checkmark:after {
            transition: all 0.5s ease-in-out;
            top: 6px;
            left: 6px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
          }

          &:hover input~.checkmark {
            background-color: #ccc;
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked~.checkmark {
              background-color: #d89e04;

              &:after {
                display: block;
              }
            }
          }
        }
      }
    }


    #quiz {
      #confirm_answer {
        margin-left: 150px;

        a {
          font-size: 2rem;
          color: #d89e04;

          &:hover {
            cursor: pointer;
            color: darken($color: #d89e04, $amount: 10);
          }
        }
      }
    }

    #riskTable,
    #riskLevel {
      display: none;
    }

    #risk-capacity,
    #risk-tolerance {
      display: none;
    }

    #risk-profile {
      padding: 5px;

      margin-bottom: 15px;

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    #risk-contact,
    #client-risk-contact {
      padding: 5px 5px 20px 5px;
      text-align: left;

      label {
        padding: 5px;
        margin-bottom: 0px;
        font-size: 1rem;
        width: 75%;
        border-top-left-radius: 0px;
      }
    }

    #question10 {
      tr {
        padding: 0px;
        font-size: .8rem;
      }

      th {
        padding: 1px;
      }

      td {
        padding: 0px;
      }
    }
  }
}