@import 'config';
@import 'menu';


body{
  background: $primary-color;
  
  
  h1, h2, h3 {
    font-family: $main-font;
    color: $third-color;
  }

  p{
    font-family: $secondary-font;
    color: $third-color;
  }

  .navbar {
    transition: all 1s ease-in-out;
  }
  .navbar-nav .nav-item .nav-link{
    color: white;
    font-family: $main-font;
    font-size: 1.2rem;
    margin-top: 50px;
    transition: all 1s ease-in-out;
    &:hover{
      color: $secondary-color;
    }

    
  }
  
  .navbar-nav .nav-item .nav-login  {
    color: $third-color;
    background: $secondary-color;
    border-radius: 20px;
    &:hover{
      background: $primary-color;
      color: black;
    }
  }

  
}

// Js add and remove classes
.black{
  background: white !important;
  transform: translateY(0) !important;
  
}

.color{
  line-height: 40px !important ;
  color: black !important;
  font-size: 20px !important;
  font-family: $footer-font !important;
  text-decoration: none;
  transform: translateY(0) !important;
  
  margin-top:0px !important;

}


.project {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}

.fade-in{
  opacity: 1;
  transform: translateY(0);
}




header{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 20%;
}
section.sec1{
  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76) ),url(../img/austin.jpg);

  background-size: cover;
  background-position: center;
  .middle {
    padding-top: 15%;
    text-align: center;

    h3{
      color: white;
      text-shadow: $shadow;
    }

    .quote{
      color: white;
      margin-top: 50px;
      font-family: $footer-font;
      font-size: 2rem;
      text-shadow: $shadow;
    }
    p{
      color: white;
    }

    .btn{
      color: white;
      border: 1px solid white;
      font-family: $secondary-font;
      margin-top: 25px;

      &:hover {
        color: black;
        background: white;
        cursor: pointer;
        font-family: $footer-font;
      }
    }
  }
 
  
}

// First Wrapper and pictures
.wrapper1 {
  padding: 0px;
  margin: 50px auto;
  text-align: center;
  vertical-align: middle;
 
// pictures on block css and animation
  .picblock {
    margin-bottom: 75px;
    text-align: center;
    vertical-align: middle;

    &:nth-child(1){
      height: 300px;
      width: 100%;
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/transparent.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transform: translateX(-500px);
      transition: all 2s ease-out;
    }

    &:nth-child(4){
      height: 300px;
      width: 100%;
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(34, 3, 3, 0.5) ), url(../img/mutualfunds.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transform: translateX(500px);
      transition: all 2s ease-out;
    }

    &:nth-child(5){
      height: 300px;
      width: 100%;
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/risk.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateX(-500px);
      opacity: 0;
      transition: all 2s ease-out;
    }

    
  }
  .picblock.slide {
    transform: translateX(0px);
    opacity: 1;
  }

  .pic-heading{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top:125px;
    font-family: $main-font;

    .gold{
      color: $secondary-color;
      opacity:0 ;
      background-blend-mode: darken;
      font-size: 1.8rem;
      transition: all 1s ease-in-out;
      

    }
    .gold-appear {
      opacity: 1;
    }
  }

  .textblock{
    text-align: center;
    
    transition: all 2s ease-in-out;
    font-size: 0rem;
    margin-top: 50px;
    opacity: 0;
  }

  .text-appear{
    transform: translateY(0px);
    opacity: 1;
    font-size: 1.3rem;
  }
}

.wrapper2{
  height:500px;
  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/fees.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  h1{
    color: white;
    text-align: center;
    padding-top:225px;
    text-shadow: $shadow;
  }

  .btn {
    background: transparent;
    color:white;
    border: 1px solid white;
    text-align: center;
    font-family: $secondary-font;

    &:hover{
      cursor: pointer;
      background: white;
      color: black;
      font-weight: bold;

    }
  }
}

.wrapper3{
  height: 300px;
  background: $third-color;
  border-top: 2px solid $secondary-color;
  border-bottom: 2px solid $secondary-color;

  .row{
    margin: 50px auto 30px auto;
    justify-content: center;
   
    .col-xs-3{
      text-align: center;
      justify-content: center;

      a{
        font-size: 50px;
        padding: 15px;
        text-align: center;
        color: white;
        transition: 1s;
       

        &:hover{
          cursor: pointer;
          font-size: 60px;
          transition: 1s;
          color:#3B5998;
        }
    
    
      }
    }
  }

  p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
  }
}

footer{
  text-align: center;
  padding-top: 50px;
}












@import 'mobil';